* {
    box-sizing: border-box;
  }
  
h1{
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #ffffff;
    font-family: 'Righteous', cursive;
    margin-left: 30px;
}
h2{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
body {
    background-color: #FB6B6B;
    margin: auto;
  
}
.app{
    margin:10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 70px;
}
.topbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.card{
    margin:15px;
    padding:15px;
    background-color: #FFFFFF;
    border-radius:10px;
    width:80%;
    color:#333333;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.vector{
    width: 20px;
    height: 23px;
}
.bottombar{
  width: 100%;
  position: fixed;
  left: 0;
  bottom:0;
  min-height: 70px;
  background-color: #FFFFFF;
  width: 100%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
h3{
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
h4{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.beige{
  background-color: #FFFFD4;
}
.red{
  background-color: red;
  color: white;
  border-radius: 5px;
  padding:2px;
  margin-bottom:10px;
  margin-right: 7px;
  height: 40px;
  width: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green{
  background-color: #2FBE34;
  color: white;
  border-radius: 5px;
  padding:2px;
  margin-bottom:10px;
  height: 40px;
  width: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange{
  background-color: orange;
  color: white;
  border-radius: 5px;
  padding:2px;
  margin-bottom:10px;
  margin-right: 7px;
  height: 40px;
  width: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row{
    display: flex;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}
.inicial{
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.inicial .button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
h5{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    /* identical to box height */
    text-align: center;
    
    color: #D70900;
}
.show {
    display: block;
}
.hide {
    display: none;
}

.colorOrange{
    color:orange;
    text-decoration: line-through;
}
.colorGreen{
  color:rgb(44, 139, 44);
  text-decoration: line-through;
}

.colorRed{
  color:red;
  text-decoration: line-through;
}
ion-icon{
    
    width: 23px;
    height: 23px;
}
ion-icon[name="close-circle"] {
    color: #FF3030;
}

ion-icon[name="help-circle"] {
    color: #FF922E;;
}

ion-icon[name="checkmark-circle"] {
    color: #2FBE34;
}